body {
  background-color: black;
}
.post {
  width: 500px;
  height: 715px;
  background-color: white;
  margin: auto;
}
i {
  font-size: 50px;
}
.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.post-header-author {
  margin-left: 2rem;
}
.post-header-author span {
  display: block;
}

.post-header-dots-icon {
  display: flex;
  justify-content: end;
  width: 80%;
  margin-right: 1rem;
}

.post-image {
  width: 100%;
}

.icono {
  display: inline-flex;
  width: 100%;
}

.comentario_nube {
  padding-left: 5px;
  padding-right: 5px;
}

.icono-left {
  padding-left: 10px;
  display: flex;

  width: 70%;
}

.guardar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 30%;
}
